* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1 {
  margin: .5rem 0 1rem;
  font-size: 1.5rem;
}
#map {
  height: 100vh;
  margin-left: 250px;
}
.sidebar {
  position: absolute;
  padding: 10px;
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  height: 100vh;
  border-right: solid 2px #dedede;
}
.filters label {
  display: block;
  margin-bottom: .3rem;
}
